/* =========================
   VARIABLES GLOBALES (LOGIN)
   ========================= */
:root {
    --bg-main: #020617;
    --bg-card: #1e293b;
    --text-main: #e5e7eb;
    --text-secondary: #94a3b8;
    --accent: #38bdf8;
    --error: #ef4444;
}

/* =========================
   RESET
   ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* =========================
   FORM LOGIN
   ========================= */
form {
    background-color: var(--bg-card);
    padding: 24px;
    border-radius: 14px;
    width: 320px;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

form h2 {
    text-align: center;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;

    background-color: var(--accent);
    color: #020617;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.error {
    color: var(--error);
    font-size: 0.9rem;
    text-align: center;
}
